/*Início do Geral*/
html,body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
/*Fim do Geral*/
/*Início do Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #FF0000;
    padding: 0 20px;
}
.dropbtn {
    background-color: #FF0000;
    color: white;
    font-size: 40px;
    border: none;
    max-height: 40px;
    margin-left: 10px;
}
.buttonBack {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Inicialmente escondido */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.dropdown {
    height: 60px;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF0000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.logo{
    padding-left: 10px;
    width: 50px;
    height: 50px;
}
.menu-pesquisa {
    display: flex;
    gap: 10px;
    margin-left: auto;
}
.onclick_header{
    color: #ffffff;
    text-decoration: none;
}
/*Fim do Header*/
/*Início do Main*/
main {
    flex: 1;
    height: calc(100% - 170px);
    overflow-y: auto;
}

.bg-image {
    background-image:url("/Imagens_Editado/fundo_index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}
/*Fim do Main*/
/*Início do Footer*/
footer{
    padding: 30px;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);  
    opacity: 70%;
    height: 110px;
    margin-top: auto;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-item{
    width: 70%;
    margin-left: 10%;
}
/*Fim do Footer*/
/*Início do Responsivo*/
@media all and (min-width: 800px){
    
}
/*Fim do Responsivo*/